body,
html {
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: 1.5em;
}

h1 {
    font-weight: 800;
	font-size: 2.0em;
}

h2 {
    font-weight: 600;
	font-size: 1.5em;
}

h3 {
    font-size: 1.17em
}

h4 {
    font-size: 1.12em
}

h5 {
    font-size: 0.83em
}

h6 {
    font-size: 0.75em
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    font-family: Source Sans Pro, Verdana, sans-serif;
    font-size: 0.8em;
    line-height: 1.0em;
}

a {
    color: #0b75ed;
    text-decoration: none
}

a:hover {
    color: #095dbc;
	text-decoration: none
}

h2 a {
	color: #000;
	font-weight: 400
}

hr {
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: none;
    margin-top: 60px;
    margin-bottom: 0px;
}

img {
    max-width: 100%
}

aside {
    background-image: url("../img/bkgddark.jpg");
    background-size: cover;
    text-align: center;
}

aside:hover {
    background-image: url("../img/bkgdlight.jpg");
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

aside, aside a {
    color: #fff
}

aside a:hover {
    color: #eee
}

aside div {
    padding: 20px;
    margin: 0;
}

aside div img {
    border-radius: 50%;
    max-width: 125px;
    border:2px solid white;
}

aside div img:hover {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
	-moz-transform-duration: 0.15s;
	-ms-transform-duration: 0.15s;
	-webkit-transform-duration: 0.15s;
	transform-duration: 0.15s;
}

aside div h1 {
    margin: 10px 0 5px
}

aside div h1:hover {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -moz-transform-duration: 0.15s;
	-ms-transform-duration: 0.15s;
	-webkit-transform-duration: 0.15s;
	transform-duration: 0.15s;
}

aside div p {
    margin: 0 0 10px;
    font-size: .92em
}

aside nav ul li {
    display: inline;
    line-height: 1.6em;
    font-size: 1.28em;
    text-transform: capitalize
}

aside nav ul li:hover {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -moz-transform-duration: 0.15s;
	-ms-transform-duration: 0.15s;
	-webkit-transform-duration: 0.15s;
	transform-duration: 0.15s;
}
 
main nav {
    text-align: center;
    text-transform: uppercase;
    font-size: .72em;
    padding: 4px 0;
    border-bottom: 1px solid #bbb
}

main .translations a,
main nav a {
    padding: 0 4px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee
}

main .translations:first-child,
main nav:first-child {
    border-left: none
}
 
main .translations:last-child,
main nav:last-child {
    border-right: none
}

main .neighbors {
    margin: 4% 0;
    height: 20px
}

main .pagination {
    margin: 4% 8%;
    height: 20px
}

main .social-share p {
    font-size: .8em
}

main article {
    margin: 0 5% 0;
}

main article div {
	line-height: 1.2em;
}

main article div h1 {
	margin-top: 20px;
	margin-bottom: 0px;
}

main article div p {
	margin-top: 10px;
	margin-bottom: 0px;
}

main article header h1, main article header h2 {
    margin-bottom: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
}

main article header p {
    color: #999;
    font-size: .86em;
	margin-top: 0px;
	margin-bottom: 10px;
}

main article header .translations {
    float: right
}

main article header .translations .active {
    font-weight: 600
}

main article code,
main article kbd,
main article pre,
main article samp {
    font-family: Source Code Pro, Consolas, monospace
}

main article blockquote {
    margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
    font-weight: 300;
    font-size: 1.1em;
}

main article pre {
    background-color: #f7f7f7;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 4px;
    font-size: .9em;
    overflow-x: auto
}

main article samp {
    white-space: pre;
    display: block;
    overflow-x: auto
}

main article kbd {
    padding: .1em .6em;
    border: 1px solid rgba(63, 63, 63, .25);
    box-shadow: 0 1px 0 rgba(63, 63, 63, .25);
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    display: inline-block;
    margin: 0 .1em;
    white-space: nowrap;
    font-size: .78em
}

main article code {
    font-size: .8em;
    white-space: nowrap;
    color: #c25;
    padding: 1px 3px;
    background-color: #f7f7f7;
    border: 1px solid #e1e1e8;
    border-radius: 3px
}

main article .comment-count {
    font-size: .8em
}

main article table {
    border-collapse: collapse;
    border-spacing: 0
}

main article table thead:first-child tr:first-child th {
    border-top: 0
}

main article table td,
main article table th {
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
    border-top: 1px solid #ddd
}

main footer {
    padding-top: 4px;
    border-top: 1px solid #eee
}

main footer p {
    margin: 2px;
    text-align: center;
    padding: 0 40px;
    color: #999;
    font-size: 12px
}

.tag-cloud a {
    background-color: black;
    padding: .2em .6em;
    font-size: .74em;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.tag-cloud a:hover {
    background-color: #666
}

a.btn {
    background-color: black;
    padding: .6em;
    font-size: .8em;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

a.btn:hover {
    background-color: #666
}

.center,
.text-center {
    text-align: center
}

.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.float-left {
    float: left
}

.float-right {
    float: right
}

div.related-posts {
    margin: 15px 0;
    padding-bottom: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee
}

div.related-posts h4 {
    margin: 20px 0 25px
}

div.related-posts ul {
    font-size: 1.1em;
    padding-left: 12px
}

div.related-posts ul li {
    padding: 4px 0
}

ul.list,
ul.related-posts,
ul.social {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul.list {
    padding: 1em 0
}

ul.list li {
    padding: 4px
}

ul.social {
    font-size: 1.6em;
    padding-top: 20px
}

ul.social li {
    display: inline
}

ul.social a:hover {
    z-index: 1;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

ul.social a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    font-size: .8em;
    line-height: 36px
}

ul.social a.sc-facebook {
    background-color: #3e5b98
}

ul.social a.sc-google {
    background-color: #d93e2d
}

ul.social a.sc-instagram {
    background-color: #125688
}

ul.social a.sc-pinterest {
    background-color: #c92619
}

ul.social a.sc-linkedin {
    background-color: #3371b7
}

ul.social a.sc-rss {
    background-color: #f26109
}

ul.social a.sc-stack-overflow {
    background-color: #f90
}

ul.social a.sc-twitter {
    background-color: #4da7de
}

ul.social a.sc-youtube {
    background-color: #e02a20
}

ul.social a.sc-github,
ul.social a.sc-github-alt {
    background-color: #111010
}

ul.social a.sc-envelope-o {
    background-color: #578ad6
}

ul.social a.sc-reddit {
    background-color: #ff4500
}

ul.social a.sc-soundcloud {
    background-color: #f50
}

ul.social a.sc-gitlab {
    background-color: #fca326
}

ul.social a.sc-xing {
    background-color: #007575
}

.ads-aside {
    display: inline-block;
    height: 90px;
    width: 70%
}

.ads-responsive {
    display: inline-block;
    margin: 6px 0;
    width: 90%;
    height: 70px;
    margin-left: 5%
}

@media screen and (min-width:768px) {
    aside {
        width: 25%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto
    }
    aside div {
        padding: 36px 18px
    }
    aside div nav ul li {
        padding: 0!important;
        display: block
    }
    aside div ul.social {
        padding-top: 32px
    }
    main {
        width: 75%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 25%
    }
    main article.single {
        min-height: 80%
    }
    main article ul.list li {
        padding: 2px
    }
    .ads-aside {
        height: 250px
    }
    .ads-responsive {
        height: 90px
    }
}

.text-box {
	display: inline-block;
	text-align: left;
	width: 66%;
	vertical-align: top;
}

.img-box {
	display: inline-block;
	text-align: center;
	width: 33%;
	vertical-align: top;
	font-size: 11pt;
	line-height: 1.0em;
	max-width: 100%;
}

#wrapper {
    width: 100%;
	text-align: center;
    margin: 0 auto;
}

.instagram-media {
	width: 30% !important;
	margin: auto !important;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
	font-size: 11pt;
	line-height: 1.0em;
	vertical-align: top;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}